@using Blazor.Wizard.Demo.Components.Questionary
@using Blazor.Wizard.Demo.Models
@using Blazor.Wizard.Demo.Components.WizardLogic.Questionary
@implements IDisposable

@if (Visible)
{
  <div class="modal fade show d-block" tabindex="-1" style="background:rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Questionary Wizard</h5>
          <button type="button" class="btn-close" @onclick="OnCancel" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          @if (_viewModel != null && _viewModel.Engine != null)
          {
            var stepState = _viewModel.CurrentStep;
            var stepId = (QuestionaryStepId)Enum.Parse(typeof(QuestionaryStepId), stepState.Name);
            var step = _stepFactory?.Create(stepId);
            if (step is WizardLogic.Questionary.QuestionaryStep1)
            {
              <QuestionaryStep1 Model="@(stepState.Model as QuestionaryStep1Model)" EditContext="@stepState.EditContext" />
            }
            else if (step is WizardLogic.Questionary.QuestionaryStep2)
            {
              <QuestionaryStep2 Model="@(stepState.Model as QuestionaryStep2Model)" EditContext="@stepState.EditContext" />
            }
            else if (step is WizardLogic.Questionary.QuestionaryStep3)
            {
              <QuestionaryStep3 Model="@(stepState.Model as QuestionaryStep3Model)" EditContext="@stepState.EditContext" />
            }
            else if (step is QuestionaryReportStep)
            {
                // Update Model before rendering report step
                var builder = new QuestionaryResultBuilder();
                var result = builder.Build(_viewModel.WizardData);
                Model.Name = result.Name;
                Model.Age = result.Age;
                Model.FavoriteColor = result.FavoriteColor;
                <QuestionaryReportStep Model="@Model" />
            }
          }
        </div>
        <div class="modal-footer d-flex justify-content-end gap-2 w-100">
          <button class="btn btn-secondary" @onclick="OnCancel">Cancel</button>
          <button class="btn btn-outline-primary" @onclick="OnBack" disabled="@(_viewModel == null || _viewModel.IsFirstStep)">Back</button>
          @if (_viewModel != null)
          {
            if (!_viewModel.IsLastStep)
            {
              <button class="btn btn-primary" @onclick="OnNext" disabled="@(!_viewModel.CurrentStep.IsValid)">Next</button>
            }
            else
            {
              <button class="btn btn-primary" @onclick="OnOkClick" disabled="@(!_viewModel.CurrentStep.IsValid)">OK</button>
            }
          }
        </div>
      </div>
    </div>
  </div>
}
