@using Blazor.Wizard.Demo.Models
@using Blazor.Wizard.Demo.Models.Person
<EditForm EditContext="@EditContext" >
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Street</label>
        <InputText class="form-control" @bind-Value="Model.Street" />
        <ValidationMessage For="@(() => Model.Street)" />
    </div>
    <div class="mb-3">
        <label>City</label>
        <InputText class="form-control" @bind-Value="Model.City" />
        <ValidationMessage For="@(() => Model.City)" />
    </div>
    <div class="mb-3">
        <label for="zipCode" class="form-label">Zip Code</label>
        <InputText id="zipCode" @bind-Value="Model.ZipCode" class="form-control" />
        <ValidationMessage For="@(() => Model.ZipCode)" />
    </div>
    <div class="mb-3">
        <label>Country</label>
        <InputText class="form-control" @bind-Value="Model.Country" />
        <ValidationMessage For="@(() => Model.Country)" />
    </div>
</EditForm>

@code {
    [Parameter]
    public AddressModel Model { get; set; }
    [Parameter]
    public EditContext EditContext { get; set; }
}